.grillaPelicula{
    display:grid;
    grid-template-columns:repeat(auto-fill, 230px);
    height: a;
    gap: 15px;
    padding:6px;
    justify-content: center;
    overflow: hidden
};

.resoponse{
    text-align: center;
}
@media (max-width: 560px){
    .grillaPelicula{
    grid-template-columns: 49%;
    overflow: hidden
    } 
};